/* 弹窗美化 */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 5px;
    opacity: 0;
    animation: popup-in 0.5s ease forwards;
}

.popup-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;
    height: 100%;
}

.popup-text p {
    margin: 0;
}

.popup.hide {
    animation: popup-out 0.5s ease forwards;
}

@keyframes popup-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes popup-out {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
}

/*  */

div {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

h1 {
    -webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystem, SF Pro text, PingFang SC, Helvetica, Helvetica Neue, MiSans, HarmonyOSHans, Segoe UI, Arial, Microsoft YaHei, sans-serif, "\5B8B\4F53";
    background-color: #F7F7F7;
}

nav {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #3B3B3B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #F7F7F7;
}

.banner {
    object-fit: cover;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    padding: 60px;
    text-align: center;
    background-image: url(./images/banner0.png);
}

.banner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 70px;
    margin: 0;
    color: #FFFFFF;
}

.banner p {
    font-size: 15px;
    color: #f2f2f2;
    line-height: 35px;
    text-shadow: 0 0 3 white;
}

.intro {
    background-color: #FFFFFF;
    margin: 30px auto;
    padding: 16px;
}

.intro h2 {
    font-size: 25px;
    color: #3B3B3B;
}

.intro p {
    font-size: 15px;
    color: #3B3B3B;
    line-height: 25px;
}

a {
    color: #5f9aff;
    text-decoration: none; 
}